.main {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.title {
  grid-column: span 2;
  justify-self: center;
}

.content {
  grid-column: 2;
}

.content,
.pageNav {
  border: 5px solid black;
  border-radius: 7px;
  margin: 0.5rem;
  padding: 1rem;
}

.pageNav {
  grid-column: 1;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.pageNav li {
  font-size: 1.5em;
  list-style: none;
  margin: 0.25rem;
}

.pageNav li:hover,
.pageNav li:active,
.pageNav li:focus-visible {
  text-decoration: underline;
}