.main {
	margin: 0 auto;
	width: 1000px;
}

.main img {
	max-width: 100%;
}

.main h1 {
	padding-left: 1em;
}

.pageContent,
.authorCell,
.accordion {
	border: 5px solid black;
	padding: 1em;
	margin-bottom: 0.5em;
	border-radius: 7px;
	width: 100%;
}

.accordion {
	box-sizing: border-box;

}

.txtSliceHolder,
.imgSliceHolder {
	padding: 1em;
}

.imgSliceHolder {
	padding: 1em 0;
	max-height: 350px;
}

.imgSliceHolder div {
	width: 100%;
	height: 100%;
}

.imgSliceHolder img {
	max-height: 330px;
	object-fit: contain;
}

.authorPrison {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
}

.authorMeta {
	width: 50%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.authorMeta * {
	margin: 0;
}

.authorCell {
	max-height: 200px;
	max-width: 500px;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr;
	gap: 0.5em;
}

.authorContent * {
	margin: 0;
}

.authorContent div {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	gap: 1em;
	border-bottom: 1px solid black;
	padding-bottom: 0.25em;
	margin-bottom: 0.25em;
}

.authorContent h6 {
	padding-bottom: 1px;
}

.authorImg {
	width: 100%;
	height: 100%;
}

.authorImg img {
	max-height: 180px;
	object-fit: cover;
}

.accordionTitle {
	color: black;
	cursor: pointer;
	font-size: 1.25rem;
}

.accordionTitle:hover,
.accordionTitle:active,
.accordionTitle:focus-visible {
	color: rgb(50, 50, 50);
}

.imgSliceHolder {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.imgSliceHolder p {
	text-transform: lowercase;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 0;
	font-size: 2.5em;
}
